:root {
    --background: #2F2F2F;
    --background-container: #FDEC51;
    --white: #fff;
    --labelForm: #999999;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@900&family=Roboto:wght@400;500;700&display=swap');

body {
    background: var(--background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: var(--background-container);
    height: fit-content;
    width: 540px;
    padding: 60px;
    position: absolute;
    top: 70px;

}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 3.7rem;
}

.close-icon {
    opacity: .6;
    cursor: pointer;
}

.close-icon:hover {
    opacity: 1;
}

/* FORM AREA */

.form-area {
    background: var(--white);
    padding: 0 3rem 2.5rem 3rem;
    width: 540px;
    box-shadow: 0 10px 13px rgba(0, 0, 0, .25);
}

.form-area img {
    border-radius: 50%;
    width: 72px;
    margin-top: -40px;
}

form {
    margin-top: 2rem;

}

.name {
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: .8rem 0;
    width: 100%;
}

.form-group label {
    color: var(--labelForm);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
}

.form-group input {
    font-size: 1rem;
    padding: 9px 0;
    border: none;
    border-bottom: 1px solid var(--labelForm);
    outline: none;
}

.bio {
    margin-top: 1.5rem;
}

textarea {
    resize: vertical;
    border: none;
    border-bottom: 1px solid var(--labelForm);
    margin-top: 8px;
    outline: none;
    max-height: 200px;
    min-height: 110px;
    font-size: 1rem;
}

.bottom-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.8rem;
}

.bottom-area input {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 2.2rem;
    opacity: .8;
}

.bottom-area input:hover {
    opacity: 1;
}

@media screen and (max-width: 540px) {
    .container {
        min-height: 100%;
        position: relative;
        top: 0;
        width: 100%;
        padding: 1rem 2rem;
    }

    .form-area {
        width: 100%;
    }

    .name {
        flex-direction: column;
    }

    .header-area {
        padding: 2rem 1rem .3rem .4rem;
    }

    .bottom-area {
        margin-bottom: 1rem;
    }
}