:root {
    --colorBackground: rgb(121, 155, 206);
    --white: rgb(255, 255, 255);
    --blue: #4D67CE;
    --gray: #AEACAC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto',
        sans-serif;
    background-color: var(--colorBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    color: var(--blue);
    text-decoration: none;
}



.container {
    background-color: var(--white);
    display: flex;
    border-radius: 4px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .3);
    padding: 25px;
}

.item {
    display: flex;
    width: 350px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 58px;
    height: 100%;
    transition: .7s;
}

.item:hover {
    background-color: #f6f6f6;
}

.item img {
    width: 80px;
    margin: 20px auto;
}

.item h2 {
    letter-spacing: 4px;
    padding: 20px 0 10px 0;
}

.item p {
    font-size: 15px;
    color: var(--gray);
    font-weight: 500;
    font-size: 15px;
    padding: 20px 0;
}

.item p:last-child {
    color: var(--blue);
    padding-bottom: 20px;

}

.item span {
    font-size: 30px;
}

.item sup {
    font-size: 15px;
}

/*  Responsive */
@media screen and (max-width: 1000px) {

    .container {
        flex-direction: column;
        margin: 50px 0;
    }

    .item {
        padding: 20p;
        width: 250px;
    }
}