@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #8aa6bf;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #8aa6bf), to(#d4dee7));
  background: linear-gradient(0deg, #8aa6bf 16%, #d4dee7 100%);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  background: #fff;
  min-width: 480px;
}

.container header {
  background: #6a96d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header h1 {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  position: relative;
  padding-left: 1.3rem;
}

.container header h1::before {
  content: " ";
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 6px;
}

.container header img {
  opacity: 0.8;
  cursor: pointer;
}

.container header img:hover {
  opacity: 1;
}

.container main {
  padding: 20px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main .date {
  margin-bottom: 2.5rem;
}

.container main .date p {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #cccccc;
  position: relative;
}

.container main .date p::before {
  content: " ";
  width: 42%;
  height: 1px;
  background: #cccccc;
  position: absolute;
  top: 8px;
  left: 0;
}

.container main .date p::after {
  content: " ";
  width: 42%;
  height: 1px;
  background: #cccccc;
  position: absolute;
  top: 8px;
  right: 0;
}

.container main .chat-area .chat-time {
  font-size: 0.85rem;
  color: #999999;
  margin-bottom: 0.2rem;
}

.container main .chat-area .chat-box {
  border-radius: 3px;
  padding: 10px;
  max-width: 300px;
  margin-bottom: 40px;
}

.container main .chat-area.send {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.container main .chat-area.send .chat-time {
  text-align: right;
}

.container main .chat-area.send .chat-box {
  background: #e6edf6;
  position: relative;
}

.container main .chat-area.send .chat-box:after {
  content: " ";
  position: absolute;
  top: 0;
  right: -8px;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #e6edf6 transparent transparent transparent;
}

.container main .chat-area.send .chat-box:hover {
  background-color: #d7e2f1;
}

.container main .chat-area.send .chat-box:hover:after {
  border-color: #d7e2f1 transparent transparent transparent;
}

.container main .chat-area.received {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container main .chat-area.received .chat-box {
  background: #f2f2f2;
  position: relative;
}

.container main .chat-area.received .chat-box::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -8px;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #f2f2f2 transparent transparent;
}

.container main .chat-area.block {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container main .chat-area.block .chat-box {
  background: #ffc2c1;
}

.container main .chat-input {
  border-top: 1px solid #999999;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .chat-input input[type="text"] {
  border: none;
  outline: none;
  width: 80%;
  font-size: 1rem;
  padding: 10px 0;
}

.container main .chat-input a {
  text-transform: uppercase;
  text-decoration: none;
  color: #6a96d8;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.container main .chat-input a:hover {
  color: #92b2e3;
}

@media screen and (max-width: 576px) {
  .container {
    min-width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */