* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F9F9F9;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    padding: 30px 20px;
    width: 100%;
    max-width: 1035px;
}

.left-side {
    width: 100%;
    max-width: 285px;
    padding-right: 320px;
}

.sticky-element {
    width: 285px;
    height: 200px;
    background: #fff;
    border: 2px solid #ededed;
    border-radius: 4px;
    position: relative;
    top: 140px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.03);
}

.right-side {
    background: #EFEFEF;
    max-width: 750px;
    width: 100%;
    height: 1750px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.02);
}

.sticky {
    position: fixed;
    top: 30px;
}

@media screen and (max-width: 670px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
    }

    .sticky-element {
        top: 30px;
    }

    .left-side {
        padding-right: 0;
        height: 200px;
    }

    .right-side {
        margin-top: 70px;
    }
}

