/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    padding: 0 2rem;
}

.container {
    border-radius: 8px;
    overflow: hidden;
    max-width: 870px;
}

/* VIDEO */

.video-ctn {
    position: relative;
}

.play-button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
    transition: opacity .15s;
}

.play-button.hide {
    opacity: 0;
}

.button {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 95px;
    height: 95px;
}

.button:hover {
    background: rgba(0,0,0,.25);
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 31px;
    border-color: transparent transparent transparent #ffffff;
    position: relative;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.video {
    width: 100%;
    display: block;
}

/* CONTROLS */

.controls {
    display: flex;
    background: #49387C;
    padding: 1.8rem 2rem;
    align-items: center;
}

.control {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.16rem;
    color: #fff;
    opacity: .8;
    cursor: pointer;
    margin-right: 1.54rem;
    white-space: nowrap;
}

.control:hover {
    opacity: 1;
}

.progress-bar {
    background: rgba(255,255,255,.2);
    cursor: pointer;
    height: 6px;
    flex-grow: 1;
    margin-left: 1.1rem;
}

.bar {
    width: 0;
    height: 100%;
    background: rgba(255,255,255,.5);
}

/* MOBILE */

@media screen and (max-width: 530px) {
    .button {
        transform: scale(.7);
    }

    .controls {
        justify-content: space-between;
        padding: 1.4rem 1.6rem;
    }

    .control {
        font-size: 1rem;
        margin-right: 0;
    }

    .progress-bar {
        display: none;
    }
}