:root {
    --backgroundColor: #F8EBE9;
    --backgroundWhite: #fff;
    --linkColor: #AAAAAA;
    --backCOlor: #62768D;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@900&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

h1,
h4 {
    font-family: 'Playfair Display',
        serif;
}

a {
    text-decoration: none;
    color: var(--linkColor);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto',
        sans-serif;
    background: var(--backgroundColor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background: url(img/background.jpg) var(--backgroundWhite);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 33px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 30px rgba(213, 161, 146, .8);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex
}

nav a {
    margin: 30px 17px;
    transition: all .5s;
}

nav a:hover,
.spain {
    color: #000;
}

.back {
    color: var(--backCOlor);
    font-weight: 700;
    position: relative;
}

.back::before {
    content: url(img/arrow-back.svg);
    transform: scale(.65);
    right: 2.2rem;
    bottom: -.45rem;
    position: absolute;
    opacity: .5;
    transition: all .5s;
}

main {
    margin: 60px 25px 110px 385px;
    display: grid;
    grid-template-columns: fit-content(400px) 1fr;
    grid-template-areas: 'title title'
        'description description'
        'photo photo';
}

.main-title {
    grid-area: title;

}

.main-title h1 {
    font-size: 3.3rem;
    width: 400px;
    font-weight: 100;
    line-height: 1;
    position: relative;
}

.main-title h1:after {
    content: '';
    background-color: #000;
    width: 85px;
    height: 4px;
    position: absolute;
    right: 1.4rem;
    bottom: 1rem;
}

.main-title h4 {
    font-weight: 300;
    margin: 1.8rem 0;

}

.main-title h4 strong {
    font-weight: 600;
}

.photo {
    grid-area: photo;
}

.photo a {
    color: #000;
    position: relative;
}


.photo a::after {
    position: absolute;
    content: url(img/arrow-forward.svg);
    transform: scale(.60);
    top: -.3rem;
}


.image {
    position: relative;
}

.image img:first-child {
    width: 160px;
    position: relative;
    cursor: pointer;
}

.image img:last-child {
    position: absolute;
    width: 35px;
    top: 2.2rem;
    left: 4rem;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}


.description {
    width: 250px;
    margin: -3px 0 0 40px;
    grid-area: description;
    line-height: 1.7rem;
}

/* HOVER */

@media (hover: hover) {

    .back:hover,
    .back:hover::before {
        opacity: 1;
    }

    .image:hover img:last-child {
        background-color: rgba(255, 255, 255, 1);
    }
}

@media screen and (max-width: 900px) {
    body {
        background: none;
    }

    .container {
        height: 100vh;
        background: #fff;
        box-shadow: none;
        width: 100%;
    }

    nav a {
        font-size: .7rem;
    }

    main {
        margin: 1.5rem 0;
    }

    .main-title h1:after {
        left: 0rem;
        bottom: -2rem;
    }

    .main-title h4 {
        margin: 3rem 0 0 0;
    }

    .image {
        max-width: 400px;
    }

    .image img:first-child {
        width: 100%;
        max-width: 400px;
    }

    .image img:last-child {
        top: 7rem;
        left: 11.5rem;
    }


    .description {
        width: 100%;
        margin: 1.8rem 0;
        grid-area: description;
        line-height: 1.7rem;
    }

}