:root {
    --background: rgb(74, 75, 114);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@900&family=Roboto:wght@400;500;700&display=swap');

li {
    list-style: none;
}

body {
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

/* NAVSIDE */

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 33, 33, .6);
    width: 80px;
    height: 65px;
    margin: 0 1px;
    cursor: pointer;
    transition: all .5s;
}

nav li:hover:not(.nav-selected) {
    background: rgba(33, 33, 33, .8);
}

nav img {
    width: 28px;
    opacity: .7;
}

.nav-selected {
    transform: scale(1.2);
    background: rgba(33, 33, 33, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 0;
}

.nav-selected img {
    opacity: 1;
}

/* MAINSIDE */

main {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 30px 35px 0 35px;
    border-radius: 5px;
    overflow: hidden;
}

/* MAIN - HEADER */

.menu-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    background: url(img/food.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 21px;
    height: 163px;
    position: relative;

}

.menu-header::after {
    content: '';
    position: absolute;
    background: #000;
    opacity: .3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.menu-header h1 {
    z-index: 1;
}

.menu-header span img {
    width: 19px;
    position: relative;
    top: 0;
    left: -.1rem;
}

.menu-header p {
    z-index: 1;
    font-size: 1rem;

}

/* MAIN - MENU LIST */

.menu-list {
    display: flex;
    flex-direction: column;

}

.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 22px 22px 24px 22px;
    border-bottom: 1px solid #DDDDDD;
    color: #999;
    cursor: pointer;
    transition: all .4s;
}

.list:hover p:last-child {
    color: #000;
    transform: scale(1.2);
}

.list p {
    font-size: 1.1rem;
    font-weight: 500;
}